@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


/*
 * Styling for the menu modal tab - Mobile screen size only
*/

.menu {
    width: 200px;
    padding-bottom: 15px;

        &__container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 9999;
            border: 6px solid #ccbc8e;
        }

        &__close {
            width: 17px;
            display: flex;
            margin: 10px 10px 10px auto;
        }

        &__logo {
            display: flex;
            justify-content: center;
        }

        &__wrapper {
            border-top: 1px solid darkgrey;
            border-bottom: 1px solid darkgray;
            padding: 10px 0 10px 16px;

                &-2 {
                    border-bottom: 1px solid darkgray;
                }
        }

        &__heading-2 {
            padding: 10px 0 10px 16px;
        }
}