@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


/*
 * Styling for both Reviews & Leave a review sections
 * Completed to be viewed on mobile/tablet/desktop screen sizes
*/

.review {
    font-size: 15px;
    font-weight: 300;
    padding-top: 4px;

    &__header {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 5px;
    }

    &__container {

        &-inner {

        }
    }

    &__wrapper {

    }

    &__names-date {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 22px;
        padding-bottom: 5px;
        border-bottom: 1px solid gray;
    }

    &__names {
        font-size: 15.5px;
        font-weight: 500;
    }

    &__date {
        font-size: 14.5px;
        font-weight: 500;
    }

    &__star-rating {
        cursor: pointer;
        font-size: 14px;
    }
}

.star {
    color: gray;
    transition: color 0.25s;
}

.star.filled {
    color: #ccbc8e;
}

.form {

    &__header {
        display: flex;
        justify-content: center;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 5px;
        padding-top: 40px;
    }

    &__names-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    &__first-name {
        margin: 22px 16px 15px 16px;
        border: 1px solid black;
        border-radius: 2px;
        padding: 2px 10px;
        font-size: 13px;

            &:focus {
                outline: none;
            }

                @include desktop {
                    margin: 22px 96px 15px 96px;
                }
    }

    &__last-name {
        margin: 0 16px;
        border: 1px solid black;
        border-radius: 2px;
        padding: 2px 10px;
        font-size: 13px;

            &:focus {
                outline: none;
            }

                @include desktop {
                    margin: 0 96px;
                }
    }

    &__star-rating {
        display: flex;
        justify-content: center;
        cursor: pointer;
        font-size: 16px;
    }

    &__review {
        margin: 5px 16px 0 16px;
        width: 100%;
        padding: 5px 0 20px 10px;
        border: 1px solid black;
        resize: none;
        border-radius: 2px;
        font-size: 13px;

            &:focus {
                outline: none;
            }

                @include desktop {
                    margin: 5px 96px 0 96px;
                }
    
                &-wrapper {
                    display: flex;
                    justify-content: center;
                }   
    }

    &__btn {
        margin: 15px 0 40px 0;
        border: 1px solid black;
        border-radius: 2px;
        color: darkred;
        cursor: pointer;

            &-wrapper{
                display: flex;
                justify-content: center;
            }
    }
}