   
    /* PublicSans-ExtraBold */
    @font-face {
        font-family: 'Public Sans';
        font-weight: 800;
        font-style: normal;
        src: url('../fonts/PublicSans-ExtraBold.ttf') format('truetype');
    }
  
    /* PublicSans-ExtraBoldItalic */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 800;
    font-style: italic;
    src: url('../fonts/PublicSans-ExtraBoldItalic.ttf') format('truetype');
    }

    /* PublicSans-ExtraLight */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 200;
    font-style: normal;
    src: url('../fonts/PublicSans-ExtraLight.ttf') format('truetype');
    }

    /* PublicSans-ExtraLightItalic */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 200;
    font-style: italic;
    src: url('../fonts/PublicSans-ExtraLightItalic.ttf') format('truetype');
    }

    /* PublicSans-Light */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/PublicSans-Light.ttf') format('truetype');
    }

    /* PublicSans-LightItalic */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 300;
    font-style: italic;
    src: url('../fonts/PublicSans-LightItalic.ttf') format('truetype');
    }

    /* PublicSans-Italic */
    @font-face {
    font-family: 'Public Sans';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/PublicSans-Italic.ttf') format('truetype');
    }

    /* PublicSans-Medium */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/PublicSans-Medium.ttf') format('truetype');
    }

    /* PublicSans-MediumItalic */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 500;
    font-style: italic;
    src: url('../fonts/PublicSans-MediumItalic.ttf') format('truetype');
    }

    /* PublicSans-Regular */
    @font-face {
    font-family: 'Public Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/PublicSans-Regular.ttf') format('truetype');
    }

    /* PublicSans-SemiBold */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/PublicSans-SemiBold.ttf') format('truetype');
    }

    /* PublicSans-SemiBoldItalic */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 600;
    font-style: italic;
    src: url('../fonts/PublicSans-SemiBoldItalic.ttf') format('truetype');
    }

    /* PublicSans-Bold */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/PublicSans-Bold.ttf') format('truetype');
    }


    /* PublicSans-Black */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 900;
    font-style: normal;
    src: url('../fonts/PublicSans-Black.ttf') format('truetype');
    }

    /* PublicSans-BlackItalic */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/PublicSans-BlackItalic.ttf') format('truetype');
    }

    /* PublicSans-Thin */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 100;
    font-style: normal;
    src: url('../fonts/PublicSans-Thin.ttf') format('truetype');
    }

    /* PublicSans-ThinItalic */
    @font-face {
    font-family: 'Public Sans';
    font-weight: 100;
    font-style: italic;
    src: url('../fonts/PublicSans-ThinItalic.ttf') format('truetype');
    }