// Min Width for responsive design
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width:1280px;

// Colors
$primary-color: #001fbd;
$secondary-color: #ccbc8e;
$cta-color: darkred;
$border-color: darkgray;
$form-color: lightgray;

