@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

/*
 * Basic styling for the thank you page once stripe payment is successful
 * For mobile/tablet/desktop screen sizes
*/

.thank-you {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 15px 16px;
    line-height: 2;
    
        @include desktop {
            font-size: 16px;
        }
}