@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;


/* 
 * The styling for the return policy page of the website that is universal 
 * accross all pages for mobile/tablet/desktop screen sizes
 * Mobile 320px / Tablet 768px / Desktop 1280 px
*/

.return {

    &__container {
        padding: 0 16px;

            @include tablet {
                padding: 0 64px;
            }

            @include desktop {
                padding: 0 128px;
            }
    }

    &__title {
        margin: 42px 0;
    }

    &__subtitle {
        padding: 35px 0 15px 0;

            &-eligibility {
                padding: 35px 0 15px 0;
            }

            &-process {
                padding: 35px 0 15px 0;
            }

            &-condition {
                padding: 35px 0 15px 0;
            }

            &-inspection {
                padding: 35px 0 15px 0;
            }

            &-refund {
                padding: 35px 0 15px 0;
            }

            &-exceptions {
                padding: 35px 0 15px 0;
            }

            &-contact {
                padding: 35px 0 15px 0;
            }
    }

    &__statement {
        padding: 35px 0 15px 0;
    }
}